---
layout: default
title: Blog
---
{% assign theme_style = page.theme_style | default: site.theme_style   %}

<div class="jumbotron jumbotron-fluid mb-5 p-0" style="position:relative;background-image:url('/img/footer_lodyas.png');  height: 40vh; color:white;">
  <div class="container d-flex align-items-center" style="position: absolute; background:rgba(99,97,157,.2); height: 40vh; width:100%; max-width:none; text-shadow: rgb(0, 0, 0) 1px 2px;">
    <div class="w-100 d-flex flex-row justify-content-center">
      <h1 class="text-uppercase mb-0  text-d20-grey">Blog</h1> 
      <a class="text-center my-auto" href="{{ "/feed.xml" | prepend: site.baseurl }}">
        <i class="fa fa-rss-square ml-2 fa-2x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <p> 
        {{ page.description }}
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

   


    <div class="col-12 ">
      <div id="news" class="container-fluid">
 
        

        {% for post in paginator.posts %}
        <div class="row justify-content-center">
          <div class="col-9 text-d10-{{ theme_style }}">
            <h2 style="font-size: 1.5rem;">
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | remove: '/_' }}</a>
            </h2>
            <p class="post-meta text-d20-{{ theme_style }} h4">{{ post.date | date: "%b %-d, %Y" }}</p>
            <div class="clearfix">{{ post.excerpt }}</div>
            <p class="text-right mb-5"><a class="text-d20-{{ theme_style }}" href="{{ post.url | prepend: site.baseurl }}"><small>Continue Reading...</small></a></p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>


  </div>
</div>

<!-- pagination -->
<style>
  nav.pageination{
    background:none;
  }
  .page-item.active .page-link{
    background-color: rgb(99, 97, 157);
    border-color: rgb(99, 97, 157);
  }
  .page-link{
    color:rgb(99, 97, 157);
  }
</style>
{% if paginator.total_pages > 1 %}

<nav aria-label="Pagination" class="pageination mb-4">
  <ul class="pagination pagination justify-content-center">
  {% if paginator.previous_page %}
    <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fas fa-angle-left"></i></a></li>
  {% else %}
    <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
    {% elsif page == 1 %}
      <li class="page-item"><a class="page-link" href="/blog">{{ page }}</a></li>  
    {% else %}
      <li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fas fa-angle-right"></i></a></li>
    
  {% else %}
    <li class="page-item"><a class="page-link" href="#" ><i class="fas fa-angle-right"></i></a></li>
    
  {% endif %}
</ul>
</nav>
{% endif %}