---
layout: default
---
<style>
    p{
      font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
      font-size: 21px;
      letter-spacing: -0.0666667px;
      color: rgba(0, 0, 0, 0.84);
      line-height: 33.1833px;
      text-rendering: optimizelegibility;
    }
    .post-link{
      font-size: 19px;
    }
    h2{
      text-transform: uppercase;
      font-weight: 800;
      color: rgba(0, 0, 0, 0.64);
      border-bottom: rgba(99, 97, 157, 0.5) solid 5px;
    }
  </style>
<div class="jumbotron jumbotron-fluid mb-5 p-0" style="position:relative;background-image:url('/img/footer_lodyas.png');  height: 50vh; color:white;">
  <div class="container py-auto" style="position: absolute; background:rgba(99,97,157,.2); height: 50vh; width:100%; max-width:none; text-shadow: rgb(0, 0, 0) 1px 2px;">
    <div class="row" style="height: 50vh;">
      <div class="offset-1 col-11 my-auto">

        <h1 class="display-3">{{ page.title | escape }}</h1>
        <p class="lead pl-2" style="font-weight:400;">{{ page.description  }}</p>
      </div>
    </div>
  </div>
</div>

<main class="container" aria-label="Content">
  <article class="row mb-5">
    <div class="col-12 col-md-8">
        <h2>Overview</h2>
        {{ content }}
    </div>



    <div class="col-12 col-md-4 text-right">
        <h2>Related Posts</h2>
        {% for post in site.posts %}
        {% if post.client contains page.category %}
        <div class="row " >
            <div class="col-12">
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}  
    </div>


  </article>

</main>

