---
layout: default
---

<style>
  .blk {
    background: rgba(0,0,0,0.8);
    text-shadow: #000 1px 2px;
}
</style>
<div class="container-fluid" id="fold" >
  <div class="row py-5 justify-content-center" style="height:100vh">
    <div class="col-10 col-md-6 col-lg-4 text-center px-0 mt-auto">
      <h1 class="text-d mb-0">
        <span class="d-block display-4 text-left">Nick David's</span> 
        <span class="d-block text-right"><small>Holistic Development</small></span> 
        <span class="d-block text-center display-1">Agency</span>
      </h1>
      
    </div>
    <div class="col-10 my-auto">
      <hr class="light">
    </div>
    <div class="col-10 text-center">
      <p class="mb-0 pb-5">
        {% for role in site.roles %}
          {% if forloop.first %}
            {{ role }}
          {% else %}
          &mdash;  {{ role }}
          {% endif %}
        {% endfor %}
      </p>
      <button type="button" class="btn btn-outline-light page-scroll  sr-button" href="#content"  >What is Holistic Development?</button>
    </div>
    
  </div>
</div>


<div id="content"  class="py-0 jumbotron jumbotron-fluid eq-height home-{{ color }} vh{{ site.vertical_height }} mb-0" style="background-image:url('img/at-keyboard.png');background-size:cover;background-position:left;  height: 100vh; color:white; border-top:solid 10px rgb(99, 97, 157)">

  <div class="container-fluid align-items-stretch" >
    <div class="row " style="height: 100%;">

      <div class="col-12 col-md-6 col-lg-6 d-flex pb-5 blk p-5">
        <div>
          <h3 class="text-center  pt-3 text-capitalize" style="font-weight: 900">What is holistic development?</h3>

          <hr class="light">

          <p style="font-weight: 400; font-size: 120%;">Your customers, staff, and stakeholders experiences are tied to your social media engagement, website, brick and mortar facility, etc... All should generate a consistent ethos for your brand. </p>
          
          <blockquote class="blockquote ">
              <p style="font-weight: 100; border-left: solid 5px rgb(99, 97, 157); font-size: 130%" class="mb-0 pl-3" >Holism simply means the whole is greater than the sum of it’s parts.</p>
          </blockquote>

          <p style="font-weight: 400; font-size: 120%;">When applied to your web presence, our approach creates happy users with enjoyable experiences, who will organically grow your audience.</p>

          <p style="font-weight: 400; font-size: 120%;">The sum of these channels and user experiences is less than the whole of them; One bad experience can ruin them all.</p>
          <p style="font-weight: 400; font-size: 120%;">Our strategy harmonizes these experences to give the users the feeling of trust in you.</p>
          
          <button type="button" class="btn btn-light float-right page-scroll sr-button" href="#examples">Past Successes</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="examples" class="container-fluid " style="border-top:solid 10px rgb(99, 97, 157)">
  <div class="row my-5 justify-content-center py-5" >
  {% for post in site.clients %}
    <!-- <div class="col-12 col-md-3 d-flex align-items-center">
      <a class="post-link" href="{{ post.url | relative_url }}">
        <img src="{{ post.logo }}" style="-webkit-filter: grayscale(100%);filter: grayscale(100%);">
      </a>
    </div> -->
  {% endfor %}
  </div>

</div>
