---
layout: default
---
<div class="jumbotron jumbotron-fluid mb-5 p-0" style="position:relative;background-image:url('/img/footer_lodyas.png');  height: 40vh; color:white;">
  <div class="container d-flex align-items-center" style="position: absolute; background:rgba(99,97,157,.2); height: 40vh; width:100%; max-width:none; text-shadow: rgb(0, 0, 0) 1px 2px;">
    <div class="w-100 d-flex flex-row justify-content-center">
      <h1 class="text-uppercase mb-0  text-d20-grey">{{ page.title  }}</h1> 
    </div>
  </div>
</div>

<main class="container" aria-label="Content">

  <article class="row mb-5">


    <div class="col-12 col-md-12 px-0" style="min-height: 45vh;background-image: url('/assets/img/Spinner-1.8s-112px.gif'); background-repeat: no-repeat;  background-position: center; ">
      {{ content }}
    </div>

  </article>

</main>
<style>
  #collection-component-29ff34dea88{ background:white; }
</style>